<h1>Number Insight</h1>

<table>
  <tr>
    <th>Request ID:</th>
    <td><%= @insight.request_id %></td>
  </tr>
  <tr>
    <th>Status:</th>
    <td><%= @insight.status %></td>
  </tr>
  <tr>
    <th>Number:</th>
    <td><%= @insight.international_format_number %></td>
  </tr>
  <tr>
    <th>Request Price:</th>
    <td><%= @insight.request_price %></td>
  </tr>
  <tr>
    <th>Remaining Balance:</th>
    <td><%= @insight.remaining_balance %></td>
  </tr>
</table>
